/* 
  Gli stili critici sono stati spostati in index.html per garantire il caricamento istantaneo del design.
  Questo file rimane per eventuali stili aggiuntivi non critici caricati via JS.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-brand-black text-white;
  }
}